/* - Utils - */
/* - Base - */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}

/* - Components - */
button {
  border: none;
  border-radius: 25px;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  padding: 15px 20px;
  color: white;
}

.card {
  position: relative;
  box-shadow: 0 5px 5px #eaeaea;
  max-width: 500px;
  border-radius: 20px;
  overflow: hidden;
}
.card a {
  cursor: default;
  height: 250px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.card a .card-new {
  position: absolute;
  top: 15px;
  right: 15px;
  margin: 0;
  border-radius: 2px;
  background-color: #99e2d0;
  padding: 5px 7px;
  color: #008766;
  font-size: 12px;
  font-weight: bold;
}
.card a .card-img {
  overflow: hidden;
  flex-basis: 50%;
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card a .card-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card a .card-body {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card a .card-body h3,
.card a .card-body p {
  margin: 5px 0;
}
.card a .card-body i {
  cursor: pointer;
  font-size: 25px;
}
.card a .card-body .fa-solid {
  display: none;
}
.card a .card-body .fa-regular:hover {
  display: none;
}
.card a .card-body .fa-regular:hover ~ .fa-solid {
  display: block;
}

/* - Layouts - */
header {
  padding: 20px 20px 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header a {
  cursor: pointer;
  position: absolute;
  left: 20px;
  font-size: 20px;
  color: #353535;
}
header h1 {
  margin: 0;
}

footer {
  background-color: #353535;
  padding: 25px 25px 50px 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}
footer h1 {
  margin: 0;
  font-size: 17px;
}
footer nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer nav a > i {
  width: 20px;
  margin-right: 10px;
}

/* - Pages - */
/*** --- Section Explorer --- ***/
#explore .location {
  box-shadow: inset 0px 10px 5px -11px #7e7e7e;
  position: relative;
  background-color: #eaeaea;
  padding: 15px 0;
  text-align: center;
  color: #353535;
  font-size: 13px;
  font-weight: bold;
}
#explore .location i {
  position: absolute;
  transform: translate(-25px);
}
#explore .discovery {
  padding: 40px 30px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#explore .discovery h2 {
  margin: 0 20px;
}
#explore .discovery p {
  color: #7e7e7e;
}
#explore .discovery button {
  margin: 15px 0;
}

/*** --- Section Fonctionnement --- ***/
#functioning {
  padding: 30px 15px 60px 15px;
}
#functioning .steps-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#functioning .steps-container .step {
  margin-left: 10px;
  box-shadow: 0 5px 5px #eaeaea;
  border-radius: 17px;
  background-color: #f6f6f6;
  padding: 20px 0;
}
#functioning .steps-container .step .step-body {
  transform: translate(-10px);
  display: flex;
  align-items: center;
  gap: 25px;
  font-weight: bold;
}
#functioning .steps-container .step .step-body .step-number {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #9356dc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: white;
}
#functioning .steps-container .step .step-body p {
  font-size: 14px;
  margin: 0;
}
#functioning .steps-container .step .step-body i {
  color: #7e7e7e;
}

/*** --- Section Restaurants --- ***/
#restaurants {
  background-color: #f6f6f6;
  padding: 30px 15px 60px 15px;
}
#restaurants .cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*# sourceMappingURL=styles.css.map */
