/* - Utils - */
:root {
  --gap: 20px;
}

/*******************************************************************************************/
/***** ----- Tablet / Desktop ----- *****/
@media screen and (min-width: 768px) {
  :root {
    --gap: 30px;
  }
}
/* - Base - */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: 0.2s ease;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  color: #353535;
}

h3 {
  font-size: 1.1em;
}

h4 {
  position: relative;
  display: inline-block;
  font-weight: normal;
  text-transform: uppercase;
  color: #353535;
}
h4::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: -40%;
  width: 60%;
  height: 3px;
  background-color: #99e2d0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}

.menu h2 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 1.7em;
}

/*** --- Loader --- ***/
@keyframes loader-disappear {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
    display: none;
  }
}
@keyframes title-appear {
  from {
    width: 0px;
    opacity: 0;
  }
  to {
    width: 270px;
    opacity: 1;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*** --- Product --- ***/
@keyframes product-appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* - Components - */
.button-primary {
  cursor: pointer;
  box-shadow: 0 2px 5px #7e7e7e;
  border: none;
  border-radius: 25px;
  background: linear-gradient(-7deg, #9356dc, #ff79da);
  padding: 15px 20px;
  color: white;
}
.button-primary:hover {
  opacity: 0.8;
  box-shadow: 0 3px 8px #7e7e7e;
}

.heart {
  position: relative;
  width: 25px;
  height: 25px;
  font-size: 25px;
}
.heart input {
  display: none;
}
.heart i {
  transition: 0.4s;
  position: absolute;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
}
.heart .fa-solid {
  transform: scale(0);
  opacity: 0;
  color: transparent;
}
.heart input:checked ~ label .fa-regular {
  color: transparent;
}
.heart input:checked ~ label .fa-solid {
  transform: scale(1);
  opacity: 1;
}
.heart:hover .fa-regular {
  color: transparent;
}

.card {
  cursor: pointer;
  position: relative;
  box-shadow: 0 5px 5px #eaeaea;
  flex-basis: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.card a {
  height: 250px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.card a .card-new {
  position: absolute;
  top: 15px;
  right: 15px;
  margin: 0;
  border-radius: 2px;
  background-color: #99e2d0;
  padding: 7px 10px;
  color: #008766;
  font-size: 12px;
  font-weight: bold;
}
.card a .card-img {
  overflow: hidden;
  flex-basis: 50%;
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card a .card-img img {
  object-position: bottom;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card a .portrait-img > img {
  object-position: 100% 61%;
}
.card a .card-body {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card a .card-body h3,
.card a .card-body p {
  margin: 2px 0;
}
.card a .card-body .heart {
  margin-right: 15px;
}
.card:hover {
  box-shadow: 0 20px 20px #eaeaea;
}

/*******************************************************************************************/
/***** ----- Tablet ----- *****/
@media screen and (min-width: 768px) {
  .card {
    flex-basis: calc(50% - var(--gap) / 2);
    max-width: 400px;
  }
}
.product {
  overflow: hidden;
  box-shadow: 0 5px 5px #eaeaea;
  border-radius: 15px;
  background-color: white;
}
.product input {
  display: none;
}
.product .label-product {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.product .label-product .product-body {
  width: 80%;
  flex-grow: 1;
  padding: 12px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.product .label-product .product-body .product-name {
  width: 50%;
  flex-grow: 1;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.product .label-product .product-body .product-name .product-title {
  font-size: 17px;
}
.product .label-product .product-body .product-name .product-title,
.product .label-product .product-body .product-name .product-subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product .label-product .product-body .product-title,
.product .label-product .product-body .product-price {
  font-weight: bold;
}
.product .label-product .product-body .product-subtitle,
.product .label-product .product-body .product-price {
  font-size: 14px;
  color: #353535;
}
.product .label-product .product-validated {
  transition: 0.4s;
  width: 0%;
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}
.product .label-product .product-validated i {
  transition: 0.4s;
  transition-delay: 0.4s;
  transform: rotate(70deg);
}
.product input:checked ~ label .product-validated {
  width: 60px;
}
.product input:checked ~ label .product-validated i {
  transition-delay: 0s;
  transform: rotate(360deg);
}
.product:hover {
  box-shadow: 0 20px 20px #eaeaea;
}

/* - Layouts - */
.loader-container {
  display: none;
  z-index: 5;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to top, #9356dc, #ff79da);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  color: white;
  animation: loader-disappear 0.4s 2.5s forwards ease;
}
.loader-container h1 {
  overflow: hidden;
  width: 270px;
  text-align: center;
  font-size: 3em;
  animation: title-appear 1s ease;
}
.loader-container .loader {
  opacity: 0;
  padding: 30px;
  border: 20px double white;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: opacity 2s 0.4s forwards ease, rotate 1s infinite linear;
  height: 0;
  width: 0;
}

header {
  padding: 20px 20px 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header a {
  cursor: pointer;
  position: absolute;
  left: 20px;
  font-size: 20px;
  color: #353535;
}
header h1 {
  margin: 0;
}

footer {
  background-color: #353535;
  padding: 25px 5vw 50px 5vw;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  color: white;
}
footer h1 {
  margin: 0;
  font-size: 17px;
}
footer nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer nav a > i {
  width: 20px;
  margin-right: 10px;
}
footer nav a:hover,
footer nav a:hover i {
  color: #99e2d0;
}

/* - Pages - */
/*** --- Section Explorer --- ***/
#explore .location {
  cursor: pointer;
  box-shadow: inset 0px 10px 5px -11px #7e7e7e;
  position: relative;
  background-color: #eaeaea;
  padding: 15px 0;
  text-align: center;
  color: #353535;
  font-size: 14px;
  font-weight: bold;
}
#explore .location i {
  position: absolute;
  transform: translate(-25px);
}
#explore .location:hover a {
  color: #9356dc;
}
#explore .location:hover a i {
  transform: translate(-25px) scale(1.2);
  color: #9356dc;
}
#explore .discovery {
  padding: 40px 30px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#explore .discovery h2 {
  margin: 0 20px;
}
#explore .discovery p {
  color: #7e7e7e;
}
#explore .discovery button {
  margin: 15px 0;
}

/*** --- Section Fonctionnement --- ***/
#functioning {
  padding: 30px 5vw 60px 5vw;
}
#functioning .steps-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
#functioning .steps-container .step {
  margin-left: 10px;
  box-shadow: 0 5px 5px #eaeaea;
  border-radius: 15px;
  background-color: #f6f6f6;
  padding: 20px 0;
}
#functioning .steps-container .step .step-body {
  transform: translate(-12px);
  display: flex;
  align-items: center;
  gap: 24px;
}
#functioning .steps-container .step .step-body .step-number {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356dc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: normal;
}
#functioning .steps-container .step .step-body p {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}
#functioning .steps-container .step .step-body i {
  font-size: 18px;
  color: #7e7e7e;
}
#functioning .steps-container .step:hover {
  box-shadow: 0 20px 20px #eaeaea;
  background-color: #f5edff;
}
#functioning .steps-container .step:hover i {
  color: #9356dc;
  transform: scale(1.1);
}

/*** --- Section Restaurants --- ***/
#restaurants {
  background-color: #f6f6f6;
  padding: 30px 5vw 60px 5vw;
}
#restaurants .cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.heading-img-menu {
  position: relative;
  z-index: -1;
  height: 225px;
}
.heading-img-menu img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.menu {
  border-radius: 40px 40px/35px 35px 0 0;
  background-color: #f6f6f6;
  padding: 30px 5vw 60px 5vw;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.menu h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu h2 .heart {
  margin-right: 10px;
}
.menu h2,
.menu h4 {
  margin: 7px;
}
.menu .products-container {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.menu .products-container .product {
  opacity: 0;
}
.menu .products-container > .product:first-child {
  animation: product-appear forwards 1s 0.5s;
}
.menu .products-container > .product:first-child + .product {
  animation: product-appear forwards 1s 0.6s;
}
.menu .products-container > .product:first-child + .product + .product {
  animation: product-appear forwards 1s 0.7s;
}
.menu .products-container > .product:first-child + .product + .product + .product {
  animation: product-appear forwards 1s 0.8s;
}
.menu .button-primary {
  align-self: center;
  width: 50%;
}

/*# sourceMappingURL=styles.css.map */
