.heart {
  position: relative;
  width: 25px;
  height: 25px;
  font-size: 25px;

  input {
    display: none;
  }

  i {
    transition: $transition-long;
    position: absolute;
  }

  .fa-solid {
    transform: scale(0);
    opacity: 0;
    color: $colour-primary;
  }

  input:checked ~ label {
    .fa-solid {
      transform: scale(1);
      opacity: 1;
    }

    .fa-regular {
      color: $colour-primary;
    }
  }

  &:hover {
    .fa-regular {
      color: $colour-primary;
    }
  }
}
