.heart {
  position: relative;
  cursor: pointer;
  width: 25px;
  height: 25px;
  font-size: 25px;

  i {
    transition: 0.4s ease;
    position: absolute;
  }

  .fa-solid {
    transform: scale(0);
    opacity: 0;
    color: $colour-primary;
  }

  &:hover {
    .fa-solid {
      transform: scale(1);
      opacity: 1;
    }

    .fa-regular {
      color: $colour-primary;
    }
  }
}
