.heart {
  position: relative;
  width: 25px;
  height: 25px;
  font-size: 25px;
  color: $colour-contrast--darken;

  input {
    display: none;
  }

  i {
    transition: $transition-long;
    position: absolute;
    background: -webkit-linear-gradient($colour-primary, $colour-secondary);
    background-clip: text;
    -webkit-background-clip: text;
    padding: 1px;
  }

  .fa-solid {
    transform: scale(0);
    opacity: 0;
    color: transparent;
  }

  input:checked ~ label {
    .fa-regular {
      color: transparent;
    }

    .fa-solid {
      transform: scale(1);
      opacity: 1;
    }
  }

  &:hover {
    .fa-regular {
      color: transparent;
    }
  }
}
