.product {
  overflow: hidden;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  background-color: white;

  input {
    display: none;
  }

  .label-product {
    display: flex;
    justify-content: space-between;

    .product-body {
      width: 80%;
      flex-grow: 1;
      padding: 7px 12px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      h3,
      p {
        margin: 5px 0;
      }

      p {
        font-size: $small-size;
      }

      .product-name {
        width: 50%;
        flex-grow: 1;

        h3,
        p {
          overflow: hidden;
          padding-right: 10px;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .product-price {
        margin-right: 10px;
        font-weight: bold;
      }
    }

    .product-validated {
      transition: $transition-long;
      width: 0%;
      background-color: $colour-tertiary;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 24px;

      i {
        transition: $transition-long;
        transition-delay: 0.4s;
        transform: rotate(70deg);
      }
    }
  }

  input:checked ~ label {
    .product-validated {
      width: 60px;

      i {
        transition-delay: 0s;
        transform: rotate(360deg);
      }
    }
  }

  &:hover {
    box-shadow: $box-shadow--hover;
  }
}
