body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}

.menu h2 {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 1.7em;
}
