/*** --- Section Explorer --- ***/
#explore {
  .location {
    cursor: pointer;
    box-shadow: inset 0px 10px 5px -11px $colour-contrast;
    position: relative;
    background-color: $colour-bg--darken;
    padding: 15px 0;
    text-align: center;
    color: $colour-contrast--darken;
    font-size: $small-size;
    font-weight: bold;

    i {
      position: absolute;
      transform: translate(-25px);
    }

    &:hover a {
      color: $colour-primary;

      i {
        transform: translate(-25px) scale(1.2);
        color: $colour-primary;
      }
    }
  }

  .discovery {
    padding: 40px 30px;
    background-color: $colour-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
      margin: 0 20px;
    }

    p {
      color: $colour-contrast;
    }

    button {
      margin: 15px 0;
    }
  }
}

/*** --- Section Fonctionnement --- ***/
#functioning {
  padding: $padding-section;

  .steps-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    .step {
      margin-left: 10px;
      box-shadow: $box-shadow;
      border-radius: $border-radius;
      background-color: $colour-bg;
      padding: 20px 0;

      .step-body {
        transform: translate(-12px);
        display: flex;
        align-items: center;
        gap: 24px;

        .step-number {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: $colour-primary;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          font-weight: normal;
        }

        p {
          margin: 0;
          font-weight: bold;
          font-size: $small-size;
        }

        i {
          font-size: 18px;
          color: $colour-contrast;
        }
      }

      &:hover {
        box-shadow: $box-shadow--hover;
        background-color: $colour-bg--primary-light;

        i {
          color: $colour-primary;
          transform: scale(1.1);
        }
      }
    }
  }
}

/*** --- Section Restaurants --- ***/
#restaurants {
  flex-grow: 1;
  background-color: $colour-bg;
  padding: $padding-section;

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
  }
}
