$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;
$colour-quaternary: #008766;
$colour-contrast: #7e7e7e;
$colour-contrast--darken: #353535;
$colour-bg: #f6f6f6;
$colour-bg--darken: #eaeaea;
