$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;
$colour-quaternary: #008766;
$colour-contrast: #7e7e7e;
$colour-contrast--darken: #353535;
$colour-bg: #f6f6f6;
$colour-bg--darken: #eaeaea;
$colour-bg--primary-light: #f5edff;

$transition-long: 0.4s ease;

$small-size: 14px;

$box-shadow: 0 5px 5px $colour-bg--darken;
$box-shadow--hover: 0 20px 20px $colour-bg--darken;

$border-radius: 15px;

$padding-side: 5vw;
$padding-section: 30px $padding-side 60px $padding-side;

:root {
  --gap: 20px;
}

/*******************************************************************************************/
/***** ----- Tablet / Desktop ----- *****/
@media screen and (min-width: 768px) {
  :root {
    --gap: 30px;
  }
}
