footer {
  background-color: $colour-contrast--darken;
  padding: 25px $padding-side 50px $padding-side;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  color: white;

  h1 {
    margin: 0;
    font-size: 17px;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 10px;

    a > i {
      width: 20px;
      margin-right: 10px;
    }

    a:hover,
    a:hover i {
      color: $colour-tertiary;
    }
  }
}
