footer {
  background-color: $colour-contrast--darken;
  padding: 25px 25px 50px 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;

  h1 {
    margin: 0;
    font-size: 17px;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 10px;

    a > i {
      width: 20px;
      margin-right: 10px;
    }
  }
}
